- 이 프로젝트는 내가 당근 프론트앤드 개발자로 지원하기 위해서 필요로하는 지식과 포트폴리오를 구축하기 위해서야
- 프로젝트에 대한 목적은 README.dm를 참고해
- 커밋하기 전에 꼭 빌드를 진행해
- 커밋하기 전에 꼭 TODO.md를 업데이트해줘
- 터미널 명령은 한번에 하나씩만 실행해. && 으로 연결해서 실행하지 말고
- 나는 프로젝트 진행상황에 대해서 블로깅도 해야 해. 그래서 문서화 하는게 매우 중요해. 내가 질문한 내용이나 프로젝트 진행 방법에 대해서도 블로깅이 가능하도록 문서화를 해 줘. blog/ 에 TODO리스트의 항목이 하나 해결될 때 마다 그 내용을 정리해줘.
